@import "../../animations.scss";

.container {
  --distance: calc(11rem);

  color: #fff;
  font-size: 9rem;
  margin-left: -10rem;
  overflow: hidden;
  width: 10rem;

  &.setup {
    animation: slideInX var(--board-teardown-duration) ease-out both;
  }
  &.teardown {
    animation: slideOutX var(--board-teardown-duration) ease-in both;
  }
}
