.pawn {
  --pawn-height: 0;
  --pawn-translate-y: calc(var(--pawn-height) * -0.5);

  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: grab;
  height: var(--pawn-height);
  position: absolute;
  transform: rotateX(-90deg) rotateY(30deg) translateY(var(--pawn-translate-y))
    translateZ(calc(-0.01 * var(--screen-size)));

  &.awakenedWellnessWarrior {
    --pawn-height: calc(0.17 * var(--screen-size));

    background-image: url("../../../public/images/awakened-wellness-warrior.svg");
    width: calc(0.12 * var(--screen-size));
  }
  &.bewitchedOfficeDiva {
    --pawn-height: calc(0.18 * var(--screen-size));

    background-image: url("../../../public/images/bewitched-office-diva.svg");
    width: calc(0.12 * var(--screen-size));
  }
  &.lifelessTeamPlayer {
    --pawn-height: calc(0.19 * var(--screen-size));

    background-image: url("../../../public/images/lifeless-team-player.svg");
    width: calc(0.1 * var(--screen-size));
  }
  &.monsterOfMoneymaking {
    --pawn-height: calc(0.2 * var(--screen-size));

    background-image: url("../../../public/images/monster-of-moneymaking.svg");
    width: calc(0.11 * var(--screen-size));
  }
  &.phantomOfTheLedger {
    --pawn-height: calc(0.16 * var(--screen-size));

    background-image: url("../../../public/images/phantom-of-the-ledger.svg");
    width: calc(0.13 * var(--screen-size));
  }
  &.scarecrowOfAccountability {
    --pawn-height: calc(0.2 * var(--screen-size));

    background-image: url("../../../public/images/scarecrow-of-accountability.svg");
    width: calc(0.09 * var(--screen-size));
  }
  &.shadowyExecutive {
    --pawn-height: calc(0.16 * var(--screen-size));

    background-image: url("../../../public/images/shadowy-executive.svg");
    width: calc(0.12 * var(--screen-size));
  }
  &.wrapItUpWorrywart {
    --pawn-height: calc(0.2 * var(--screen-size));

    background-image: url("../../../public/images/wrap-it-up-worrywart.svg");
    width: calc(0.08 * var(--screen-size));
  }
}
