.pawn {
  --pawn-duration: 2000ms;
  --pawn-height: 0;
  --pawn-rotate-x: -90deg;
  --pawn-rotate-y: 30deg;
  --pawn-translate-y: calc(var(--pawn-height) * 0.5);
  --pawn-translate-y-popped: calc(var(--pawn-height) * -0.5);
  --pawn-translate-z: calc(-0.01 * var(--screen-size));

  animation: popUpAndDown var(--pawn-duration) both;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: grab;
  height: var(--pawn-height);
  position: absolute;
  transform: rotateX(var(--pawn-rotate-x)) rotateY(var(--pawn-rotate-y))
    translateY(var(--pawn-translate-y)) translateZ(var(--pawn-translate-z));

  &.awakenedWellnessWarrior {
    --pawn-duration: 2200ms;
    --pawn-height: calc(0.17 * var(--screen-size));

    background-image: url("../../../public/images/awakened-wellness-warrior.svg");
    width: calc(0.12 * var(--screen-size));
  }
  &.bewitchedOfficeDiva {
    --pawn-duration: 2200ms;
    --pawn-height: calc(0.18 * var(--screen-size));

    background-image: url("../../../public/images/bewitched-office-diva.svg");
    width: calc(0.12 * var(--screen-size));
  }
  &.lifelessTeamPlayer {
    --pawn-duration: 2400ms;
    --pawn-height: calc(0.19 * var(--screen-size));

    background-image: url("../../../public/images/lifeless-team-player.svg");
    width: calc(0.1 * var(--screen-size));
  }
  &.monsterOfMoneymaking {
    --pawn-duration: 2000ms;
    --pawn-height: calc(0.2 * var(--screen-size));

    background-image: url("../../../public/images/monster-of-moneymaking.svg");
    width: calc(0.11 * var(--screen-size));
  }
  &.phantomOfTheLedger {
    --pawn-duration: 1800ms;
    --pawn-height: calc(0.16 * var(--screen-size));

    background-image: url("../../../public/images/phantom-of-the-ledger.svg");
    width: calc(0.13 * var(--screen-size));
  }
  &.scarecrowOfAccountability {
    --pawn-duration: 1800ms;
    --pawn-height: calc(0.2 * var(--screen-size));

    background-image: url("../../../public/images/scarecrow-of-accountability.svg");
    width: calc(0.09 * var(--screen-size));
  }
  &.shadowyExecutive {
    --pawn-duration: 1600ms;
    --pawn-height: calc(0.16 * var(--screen-size));

    background-image: url("../../../public/images/shadowy-executive.svg");
    width: calc(0.12 * var(--screen-size));
  }
  &.wrapItUpWorrywart {
    --pawn-duration: 2000ms;
    --pawn-height: calc(0.2 * var(--screen-size));

    background-image: url("../../../public/images/wrap-it-up-worrywart.svg");
    width: calc(0.08 * var(--screen-size));
  }
}

@keyframes popUpAndDown {
  0% {
    transform: rotateX(var(--pawn-rotate-x)) rotateY(var(--pawn-rotate-y))
      translateY(var(--pawn-translate-y)) translateZ(var(--pawn-translate-z));
  }
  50% {
    transform: rotateX(var(--pawn-rotate-x)) rotateY(var(--pawn-rotate-y))
      translateY(var(--pawn-translate-y-popped))
      translateZ(var(--pawn-translate-z));
  }
  70% {
    transform: rotateX(var(--pawn-rotate-x)) rotateY(var(--pawn-rotate-y))
      translateY(var(--pawn-translate-y-popped))
      translateZ(var(--pawn-translate-z));
  }
  100% {
    transform: rotateX(var(--pawn-rotate-x)) rotateY(var(--pawn-rotate-y))
      translateY(var(--pawn-translate-y)) translateZ(var(--pawn-translate-z));
  }
}
