.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .board {
    flex-grow: 1;
    position: relative;
    transform-style: preserve-3d;
  }

  .score {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    overflow: hidden;
  }

  .timer {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    overflow: hidden;
  }

  .scene {
    height: calc(var(--screen-size) * 0.8);
    perspective: calc(var(--screen-size) * 2);
    width: calc(var(--screen-size) * 0.8);

    .animation {
      transform-style: preserve-3d;

      &.setup {
        animation: sceneOn var(--scene-setup-duration) both;
      }

      &.teardown {
        animation: sceneOff var(--scene-teardown-duration) both;
      }
    }
  }
}

@keyframes sceneOn {
  from {
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0)
      rotateZ(0);
  }
  to {
    transform: translateX(calc(var(--screen-size) * -0.18))
      translateY(calc(var(--screen-size) * 0.5))
      translateZ(calc(var(--screen-size) * -0.1)) rotateX(-120deg) rotateY(0)
      rotateZ(-30deg);
  }
}

@keyframes sceneOff {
  from {
    transform: translateX(calc(var(--screen-size) * -0.18))
      translateY(calc(var(--screen-size) * 0.5))
      translateZ(calc(var(--screen-size) * -0.1)) rotateX(-120deg) rotateY(0)
      rotateZ(-30deg);
  }
  to {
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0)
      rotateZ(0);
  }
}
