.cuboid {
  height: 1px;
  position: absolute;
  transform-style: preserve-3d;
  width: 1px;
  .face {
    --face-size-x: calc(var(--screen-size) * 0.8);
    --face-size-y: calc(var(--screen-size) * 0.8);
    --face-size-z: calc(var(--screen-size) * 0.16);

    display: flex;
    position: absolute;
    transform-style: preserve-3d;

    &.front {
      background: rgba(161, 136, 127, 1);
      height: var(--face-size-y);
      transform: translateZ(calc(var(--face-size-z) / 2));
      width: var(--face-size-x);
    }
    &.back {
      background: rgba(161, 136, 127, 1);
      height: var(--face-size-y);
      transform: rotateY(180deg) translateZ(calc(var(--face-size-z) / 2));
      width: var(--face-size-x);
    }

    &.left {
      background: rgba(129, 104, 95, 1);
      height: var(--face-size-y);
      transform: rotateY(-90deg) translateZ(calc(var(--face-size-z) / 2));
      width: var(--face-size-z);
    }
    &.right {
      background: rgba(129, 104, 95, 1);
      height: var(--face-size-z);
      transform: rotateY(90deg) rotateZ(90deg)
        translateZ(calc(calc(var(--face-size-y) / 2)))
        translateX(
          calc(calc(var(--face-size-y) / 2) - calc(var(--face-size-z) / 2))
        );
      width: var(--face-size-y);
    }

    &.top {
      background: rgba(145, 120, 111, 1);
      height: var(--face-size-z);
      transform: rotateX(90deg) translateZ(calc(var(--face-size-z) / 2));
      width: var(--face-size-x);
    }
    &.bottom {
      background: rgba(145, 120, 111, 1);
      height: var(--face-size-z);
      justify-content: flex-end;
      transform: rotateX(-90deg)
        translateZ(calc(var(--face-size-y) - calc(var(--face-size-z) / 2)));
      width: var(--face-size-x);
    }
  }
}
