@tailwind base;
@tailwind components;
@tailwind utilities;

.move-left {
  animation: moveLeft 400ms forwards;
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200px);
  }
}

.move-right {
  animation: moveRight 600ms forwards;
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200px);
  }
}

.move-up {
  animation: moveUp 800ms forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200px);
  }
}

.move-down {
  animation: moveDown 1000ms forwards;
}

@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200px);
  }
}
