:root {
  --scene-setup-duration: 1000ms;
  --scene-teardown-duration: 500ms;
  --board-setup-duration: 1000ms;
  --board-teardown-duration: 500ms;

  @media (orientation: landscape) {
    --screen-size: 100svh;
  }

  @media (orientation: portrait) {
    --screen-size: 100svw;
  }
}

* {
  background: none;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body,
#root {
  font-family: Arial, sans-serif;
  font-size: calc(var(--screen-size) * 0.015);
  color: #000;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

body {
  background: radial-gradient(
      circle at center,
      rgba(128, 128, 128, 0.9),
      rgba(0, 0, 0, 0.8)
    ),
    linear-gradient(135deg, rgba(128, 128, 128, 0.6), rgba(64, 64, 64, 0.6)),
    linear-gradient(45deg, rgba(32, 32, 32, 0.7), rgba(16, 16, 16, 0.7));
  background-blend-mode: multiply;
}
